@model IEnumerable<WebDocTruyen.Models.Truyen>

@{
    ViewData["Title"] = "SearchTruyens";
}

<table id="truyens" class="table">
    <thead>
        <tr>
            <th>Tên Truyện </th>
            <th>Tóm tắt truyện</th>
            <th>Bìa Truyện</th>
            <th>Tác Giả</th>
            <th>Thể Loại</th>
            <th>Trạng Thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTruyen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoiDung)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Anh)" width="auto" height="300px" alt="Loi">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TacGia.TenTacGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai.TrangThaiTruyen)
                </td>
                <td>

                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.TruyenId">Sửa</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TruyenId">Chi tiết</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TruyenId">Xoá</a> |
                    <a class="btn btn-success" asp-area="Admin" asp-controller="ChuongTruyen" asp-action="Index" asp-route-id="@item.TruyenId">Chương truyện</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>